<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>

  <ion-card-content>
   <img src="https://upload.wikimedia.org/wikipedia/id/thumb/0/00/Pos-Indonesia.svg/250px-Pos-Indonesia.svg.png">
  </ion-card-content>
</ion-card>

<ion-card>
 

  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-label>idgogomi@gmail.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="phone-portrait" slot="start"></ion-icon>
    <ion-label>0897-6805-760</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Depok</ion-label>
  </ion-item>

</ion-card>
</ion-content>
